<div class="book-activity m-3 p-3">
<h2>Choose an activity for <%= @kid.first_name %></h2>
     <% @activities.each do |activity| %>
     <div class="card mb-3">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= activity.name %></h5>
    <p class="card-text"><strong>Description: </strong><%= activity.description %></p>
    <p><strong>Location: </strong><%= activity.location %></p>

     <p><strong>Duration: </strong><%= activity.duration %></p>
     <p><strong>Price: </strong><%= activity.price %></p>


  </div>
</div>





     <div class="container">
     <div class="row">
     <% activity.slots.each do |slot| %>
     <div class="col">
     <div class="slot m-2 p-4">
     <p><strong>Day: </strong><%= slot.day %></p>
     <p><strong>Time: </strong><%= slot.time %></p>
     <div class='btn btn-edit'><%= link_to 'Book a slot', kid_bookings_path(kid_id: @kid.id, slot_id: slot.id), method: :post, data: {confirm: "Are you sure you want to book this slot?"} %></div>
     </div>
     </div>
     <% end %>
     </div>
     </div>

     <% end %>

</div>
