<div class="container" >
  <%= link_to kid_path(@kid), class: "link_to" do %>
    <div class="arrow">
      <%= image_tag "backarrow.png" %>
    </div>
  <% end %>
</div>

<div class='title-booking'>
  <h2>choose your activity for <%= @kid.first_name %></h2>
</div>


<% @activities.each do |activity| %>
    <div class="main-card-booking">
      <h4><%= activity.name %></h4>
      <p class="card-text"><%= activity.description %></p>
      <h6>📍 <%= activity.location %></h6>
      <h6>⏰ <%= activity.duration %>min</h6>
      <h6>🏷<%= activity.price %>€</h6>
      <div class="dropdown">
        <button class="btn btn-book-show dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        open slots
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">


      <% activity.slots.each do |slot| %>
        <% @already_booked = Booking.where(slot: slot, kid: @kid).exists? %>
        <% @time = slot.time %>
        <% @day = slot.day %>
        <% @time_already_used = Slot.joins(:bookings).where("time = '#{@time}' AND day = '#{@day}' AND bookings.kid_id = #{@kid.id}").exists? %>
        <% unless @already_booked || @time_already_used%>



        <%= link_to "#{slot.day}", kid_bookings_path(kid_id: @kid.id, slot_id: slot.id), method: :post, data: {confirm: "Are you sure you want to book this slot?"}, class: "dropdown-item" %>




        <% end %>
      <% end %>

      </div>
      </div>


    </div>
<% end %>
