<div class="container my-4">
<div class="row">
<div class="col">
<h2>My booking requests</h2>
<table>
  <thead>
    <tr>
    <th>Who booked</th>
    <th>Date</th>
    <th>Status</th>
    </tr>
  </thead>

  <tbody>
  <% if @bookings_requests %>
    <% @bookings_requests.each do |booking| %>
      <tr>
        <td><%= booking.user.email %></td>
        <td><%= booking.date_booking %></td>
        <td><%= booking.status %></td>
        <% if (booking.status == "pending")  %>
        <td class="edit"><%= link_to("accept", accept_path(booking_id: booking.id), method: :patch) %></td>
        <td class="destroy"><%= link_to("reject", reject_path, method: :patch) %></td>
        <% end %>
      </tr>
    <% end %>
    <% else %>
    <p>You don't have any booking requests yet</p>
    <% end %>
  </tbody>
</table>
</div>
<div class="col">
<h2>My bookings</h2>

<table>
  <thead>
    <tr>
    <th>Booked chef</th>
    <th>Who booked</th>
    <th>Date</th>
    <th>Status</th>
    </tr>
  </thead>

  <tbody>
  <% if @user_bookings %>
    <% @user_bookings.each do |ubooking| %>
      <div><tr>
        <td><%= ubooking.listing.name %></td>
        <td><%= ubooking.user.first_name %></td>
        <td><%= ubooking.date_booking %></td>
        <td><%= ubooking.status %></td>
      </tr>
      </div>


    <% end %>
    <% else %>
    <p>You don't have any bookings yet</p>
    <% end %>
  </tbody>
</table>




</div>
</div>
</div>
