<div class="d-flex">
  <div class="container">
    <%= link_to root_path, class: "link_to" do %>
      <div class="arrow">
        <%= image_tag "backarrow.png" %>
      </div>
    <% end %>
  </div>

</div>

<div class="d-flex justify-content-center">
  <%= form_tag dashboard_path, class: "form-search d-flex col-9", method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search"
    %>
    <%= submit_tag "Go", class: "btn btn-search mb-0" %>
  <% end %>
</div>

<div class="container my-4 text-center">
  <div class="row">
    <div class="col">
      <h2>my activities</h2>
      <% if @user_activities.count > 0 %>
        <% @user_activities.each do |activity| %>
          <% if current_user == activity.user %>
            <div class='container-dashboard'>
              <% if activity.photo.attached? %>
                    <%=cl_image_tag activity.photo.key,crop: :fill%>
              <% end %>
              <div class='info-text mx-4'>

                <h1 class="my-4"><strong><%= activity.name %></strong></h1>
                <p><strong>location: </strong><%= activity.location %></p>
                <p><strong>price: </strong><%= activity.price %>€</p>

                <% if activity.slots.present?  %>
          <div class="dropdown">
            <button class="btn btn-show dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Available times & bookings
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <% activity.slots.each do |slot| %>
              <p class="dropdown-item"><%= slot.day %> <%= slot.time %><% if slot.bookings.count > 0 %> <%= link_to "see bookings", slot_bookings_path(slot) %> <% end %>
            <% end %></p>
            </div>
          </div>
          <% end %>
              <br>
                <div class="links-dashboard mb-1">
                  <%= link_to 'add booking time', new_activity_slot_path(activity)%><br>
                  <%= link_to 'edit', edit_activity_path(activity) %><br>
                  <%= link_to "delete activity", activity_path(activity), method: :delete, data: {confirm: "Are you sure?"}  %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>You don't have any activities yet...</p>
      <% end %>
    </div>
  </div>
</div>
