<% @slot.bookings.each do |booking| %>
<p class="m-3">
<%= @slot.day %> <%= @slot.time %> <%= booking.kid.first_name %> <%= booking.kid.last_name %> <%= booking.kid.age %> <%= booking.kid.gender %>
</p>
<% end %>
<%= link_to "back to the dashboard", dasbhoard_path, class: 'btn-show' %>
