<div class="booked-slots m-3">
<% @slot.bookings.each do |booking| %>
<p>
<%= @slot.day %> <%= @slot.time %> <%= booking.kid.first_name %> <%= booking.kid.last_name %> <%= booking.kid.age %>
</p>
<% end %>
<%= link_to "back to the dashboard", dashboard_path, class: '' %>
</div>
