<div class="booked-slots m-3 text-center">
<%= link_to "back to the dashboard", dashboard_path, class: '' %>
<div class="my-2">
<h1><strong><%= @slot.time %></strong></h1>
    <h2><strong><%= @slot.day %></strong></h2>
</div>

<div class='show-container-slots'>
    <%#=cl_image_tag @activity.photo.key%>


  <div class='info-text mx-4'>



    <% @slot.bookings.each do |booking| %>
    <p><strong>Parent:</strong> <%= booking.kid.user.first_name %> <%= booking.kid.user.last_name %></p>
    <p>
    <strong>Kid:</strong> <%= booking.kid.first_name %> <%= booking.kid.last_name %>
    </p>
    <%= link_to "notify parent", activities_path, class: "btn-home my-1 py-1" %>
    <% end %>

  </div>
</div>





</div>
