<div class="container" >
  <%= link_to kid_path(@kid), class: "link_to" do %>
    <div class="arrow">
      <%= image_tag "backarrow.png" %>
    </div>
  <% end %>
</div>

<div class="row justify-content-center my-3">
  <%= simple_form_for [ @kid ] do |f| %>
    <%= f.input :first_name%>
    <%= f.input :last_name%>
    <%= f.input :gender, collection: ["female", "male", "neutral", "others"] %>
    <%= f.input :age %>
    <div class="row justify-content-center my-3">
      <%= f.submit "save",id: 'create_kid'%>
    </div>
    <div class='row justify-content-center my-3'><%= link_to "Remove Child", kid_path(@kid), method: :delete, data: {confirm: "Are you sure that you want to remove this child?"} %></div>
  <% end %>
</div>
