<div class="container" >
  <%= link_to root_path, class: "link_to" do %>
    <div class="arrow">
      <%= image_tag "backarrow.png" %>
    </div>
  <% end %>
</div>

<div class='cards_kid'>
  <div class="text-center mb-3">
    <h3>select a kid</h3>
  </div>
  <% @kids.each do |kid|%>
      <% if current_user == kid.user %>
        <div class='card_kid'>
          <%= link_to kid_path(kid), class: "d-block" do %>
            <% if kid.gender == 'female' %>
              <%= image_tag "girl1.png" %>
            <% elsif kid.gender == 'male' %>
              <%= image_tag "boy1.png" %>
            <% else %>
              <%= image_tag "bear.png" %>
            <% end %>
            <h4><%= kid.first_name %> <%= kid.last_name %></h4>
            <div class='age'>
              <h4><%= kid.age %> <%= image_tag "cake.png" %></h4>
            </div>
          <% end %>
        </div>
      <% end %>
  <% end %>
</div>
<div class='plus-icon'>
  <%= link_to  new_kid_path() do %>
    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828764.png" alt="plus">
  <% end %>
</div>
