<div class="container" >
  <%= link_to root_path, class: "link_to" do %>
    <div class="arrow">
      <%= image_tag "backarrow.png" %>
    </div>
  <% end %>
</div>

<div class='cards_kid my-5'>
  <% @kids.each do |kid|%>
      <% if current_user == kid.user %>
        <div class='card_kid'>
          <%= link_to kid_path(kid), class: "d-block" do %>
            <% if kid.gender == 'female' %>
              <img src="https://cdn-icons-png.flaticon.com/512/163/163811.png" alt="girl">
            <% elsif kid.gender == 'male' %>
              <img src="https://cdn-icons-png.flaticon.com/512/163/163807.png" alt="boy">
            <% else %>
              <img src="https://cdn-icons-png.flaticon.com/512/1499/1499179.png" alt="bear">
            <% end %>
            <h4><%= kid.first_name %> <%= kid.last_name %></h4>
            <div class='age'>
              <h4><%= kid.age %> <%= image_tag "cake.png" %></h4>
            </div>
          <% end %>
        </div>
      <% end %>
  <% end %>
</div>
<div class='plus-icon'>
  <%= link_to  new_kid_path() do %>
    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828764.png" alt="plus">
  <% end %>
</div>
