<div class="container" >
  <%= link_to kids_path, class: "link_to" do %>
    <div class="arrow">
      <%= image_tag "backarrow.png" %>
    </div>
  <% end %>
</div>

<div class="row justify-content-center my-3">
  <%= simple_form_for [ @kid ] do |f| %>
    <%= f.input :first_name%>
    <%= f.input :last_name%>
    <%= f.input :gender, collection: ["female", "male", "neutral", "others"] %>
    <%= f.input :age %>
    <div class="row justify-content-center my-5">
      <%= f.submit "create",id: 'create_kid'%>
    </div>
  <% end %>
</div>
