<div class="row justify-content-center my-3 mt-5">
  <%= simple_form_for [ @kid ] do |f| %>
    <%= f.input :first_name%>
    <%= f.input :last_name%>
    <%= f.input :gender, collection: ["female", "male", "neutral", "others"] %>
    <%= f.input :age %>
    <div class="row justify-content-center my-5">
      <%= f.submit "create",id: 'create_kid'%>

      <%= link_to "back", kids_path, id: "back_btn" %>
    </div>
  <% end %>
</div>
