<div class="container" >
  <%= link_to kids_path, class: "link_to" do %>
    <div class="arrow">
      <%= image_tag "backarrow.png" %>
    </div>
  <% end %>
</div>

<div class='show_info_cards'>
  <% if @kid.gender == 'female' %>
    <%= image_tag "girl1.png" %>
  <% elsif @kid.gender == 'male' %>
    <%= image_tag "boy1.png" %>
  <% else %>
    <%= image_tag "bear.png" %>
  <% end %>
  <h2><%= @kid.first_name%> <%= @kid.last_name %></h2>
  <div class='age_show'>
    <h2><%= @kid.age %> <%= image_tag "cake.png" %></h2>
  </div>
</div>

<div class='row justify-content-center my-4'>
  <%= link_to "book activity", book_activity_path(@kid), class: "booking-btn" %>
</div>

<div class='row justify-content-center my-4'>
  <%= link_to 'edit', edit_kid_path(@kid)%>
</div>

 <div class="text-center">
  <% @bookings.each do |booking| %>
  <div class="booked_info_card">
    <div>
      <%= image_tag "sport.png" %></h2>
    </div>

    <div class="booked_card_text">
      <h5><%= booking.slot.activity.name %></h5>
      <h6><%= booking.slot.day %></h6>
      <h6><%= booking.slot.time %></h6>
    </div>

    <div class=''>
      <div class="cancel-booking-btn"><%= link_to "cancel", booking_path(booking), method: :delete,data: {confirm: "are you sure that you want to cancel your booking for the activity?"}%></div>
    </div>
  </div>
<% end %>
</div>
