 <div class='show_info_cards'>
  <% if @kid.gender == 'female' %>
    <img src="https://cdn-icons-png.flaticon.com/512/163/163811.png" alt="girl">
  <% elsif @kid.gender == 'male' %>
    <img src="https://cdn-icons-png.flaticon.com/512/163/163807.png" alt="boy">
  <% else %>
    <img src="https://cdn-icons-png.flaticon.com/512/1499/1499179.png" alt="bear">
  <% end %>
  <h2><%= @kid.first_name%> <%= @kid.last_name %></h2>
  <div class='age_show'>
    <h2><%= @kid.age %> <img src="https://cdn-icons.flaticon.com/png/512/2985/premium/2985632.png?token=exp=1637767843~hmac=1c7529f63fae9115007d5e21bd1524b1" alt="cake"></h2>
  </div>
</div>
 <div class="kid">
<%= link_to "Book activities", book_activity_path(@kid), class: "btn btn-book" %>
<% @bookings.each do |booking| %>
<div class="card booked-activity m-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= booking.slot.activity.name %></h5>
    <p class="card-text"><%= booking.slot.day %></p>
    <p class="card-text"><%= booking.slot.time %></p>
  </div>
</div>
<% end %>
</div>
