<div class='show_info_cards'>
  <% if @kid.gender == 'female' %>
    <img src="https://cdn-icons-png.flaticon.com/512/163/163811.png" alt="girl">
  <% elsif @kid.gender == 'male' %>
    <img src="https://cdn-icons-png.flaticon.com/512/163/163807.png" alt="boy">
  <% else %>
    <img src="https://cdn-icons-png.flaticon.com/512/1499/1499179.png" alt="bear">
  <% end %>
  <h2><%= @kid.first_name%> <%= @kid.last_name %></h2>
  <div class='age_show'>
    <h2><%= @kid.age %> <img src="https://cdn-icons.flaticon.com/png/512/2985/premium/2985579.png?token=exp=1637853768~hmac=3ef5e5236391e50d8a158256943b03e4" alt="cake"></h2>
  </div>
</div>

<div class='row justify-content-center my-4'>
  <%= link_to "Book activity", book_activity_path(@kid), class: "booking-btn" %>
  <%= link_to 'Edit', edit_kid_path(@kid), class: "booking-btn" %>
  <%= link_to "Back", kids_path, class: "booking-btn" %>
</div>

<% @bookings.each do |booking| %>
  <div class="booked_info_card">
    <div>
      <img src="https://cdn-icons.flaticon.com/png/512/3311/premium/3311579.png?token=exp=1637851780~hmac=f3917a4b649250fd66fdd7b5c06c150b" alt="sports">
    </div>
    <div class="booked_card_text">
      <h5><%= booking.slot.activity.name %></h5>
      <h6><%= booking.slot.day %></h6>
      <h6><%= booking.slot.time %></h6>
    </div>
  </div>
<% end %>
