<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%#= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <%= image_tag "4habitsnew.png", alt: "4habits" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "activities", "/activities", class: "btn my-2 btn-nav mr-2 " %>
          <%= link_to "kids", "/kids", class: "btn my-2 btn-nav mr-2 " %>
          <%= link_to "add your kid", "/kids/new", class: "btn my-2 btn-nav mr-2 " %>
        </li>
        <li class="nav-item">
            <%= link_to "log out", destroy_user_session_path, method: :delete, class: "btn my-2 btn-logout mr-2" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "login", new_user_session_path, class: "btn my-2 btn-nav mr-2" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
