 <p><strong>First name: </strong><%= @kid.first_name %></p>
    <p><strong>Last name: </strong><%= @kid.last_name %></p>
    <p><strong>Age: </strong><%= @kid.age %></p>
    <p><strong>Gender: </strong><%= @kid.gender %></p>

     <% @activities.each do |activity| %>
     <p><strong>Name: </strong><%= activity.name %></p>
     <p><strong>Description: </strong><%= activity.name %></p>
     <p><strong>Location: </strong><%= activity.name %></p>
     <p><strong>Duration: </strong><%= activity.name %></p>
     <p><strong>Price: </strong><%= activity.name %></p>
     <% end %>
