<div class="booked-slots m-3 text-center">
<div class="container" >
  <%= link_to dashboard_path, class: "link_to" do %>
    <div class="arrow">
      <%= image_tag "backarrow.png" %>
    </div>
  <% end %>
</div>
<div class="my-2">
<h1><strong><%= @slot.time %></strong></h1>
    <h2><strong><%= @slot.day %></strong></h2>
</div>

<div class='show-container-slots'>
    <%#=cl_image_tag @activity.photo.key%>


  <div class='info-text mx-4'>



    <% @slot.bookings.each do |booking| %>
    <p><strong>Parent:</strong> <%= booking.kid.user.first_name %> <%= booking.kid.user.last_name %></p>
    <p>
    <strong>Kid:</strong> <%= booking.kid.first_name %> <%= booking.kid.last_name %>
    </p>
    <%= link_to "notify parent", notify_path(id: @slot.id), class: "btn-home my-2" %>
    <% end %>

  </div>
</div>





</div>
