<div class="d-flex">
  <div class="container">
    <%= link_to root_path, class: "link_to" do %>
      <div class="arrow">
        <%= image_tag "backarrow.png" %>
      </div>
    <% end %>
  </div>

</div>

<div class="d-flex justify-content-center">
  <%= form_tag activities_path, class: "form-search d-flex col-9", method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search"
    %>
    <%= submit_tag "Go", class: "btn btn-search mb-0" %>
  <% end %>
</div>

<div class="homepage-container">

  <div class='header'>
    <h1 class=""></h1>
  </div>

  <% @activities.each do |activity| %>
    <%= link_to activity_path(activity), class: "d-block" do %>
      <div class="card-index-activity">
        <% if activity.photo.attached? %>
          <%= cl_image_tag activity.photo.key,crop: :fill %>
        <% end %>
        <h2><%= activity.name %></strong></h2>
        <div class="description-card-activity">
          <p> <%= activity.description.first(100)%>...</p>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
