<div class="container" >
  <%= link_to activities_path, class: "link_to" do %>
  <i class="far fa-arrow-alt-circle-left" style="color: black;"></i>
  <% end %>
</div>

<div class='show-container'>
    <%#=cl_image_tag @activity.photo.key%>

  <div class='info-text mx-4'>

    <h1><strong><%= @activity.name %></strong></h1>
    <p><strong>description: </strong><%= @activity.description %></p>
    <p><strong>location: </strong><%= @activity.location %></p>
    <p><strong>price: </strong><%= @activity.price %>€</p>
    <p><strong>Availability: </strong><%= @activity.availability %></p>
    <button class="btn btn-book dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    choose a kid to book
    </button>
  </div>

  <% if current_user.owner != true %>
    <% if @kids == "nil" %>
    <div>To book an activity, you need to add a kid profile first</div>
    <% end %>
  <% else %>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% @kids.each do |kid| %>
        <%= link_to kid.first_name, book_slot_path(activity_id: @activity.id, kid_id: kid.id), class: "dropdown-item" %>
        <% end %>
      </div>
  <% end %>





    <% if current_user == @activity.user %>
      <%# <div class='btn btn-edit mr-sm-4'><%= link_to 'Edit', edit_activity_path(@activity) %>
      <div class='btn btn-destroy sm-4'><%= link_to "delete activity", activity_path(@activity), method: :delete, data: {confirm: "Are you sure?"}  %></div>
    <% end %>

  </div>
