<div class="container" >
  <%= link_to activities_path, class: "link_to" do %>
    <div class="arrow">
      <%= image_tag "backarrow.png" %>
    </div>
  <% end %>
</div>

<div class='show-container'>
    <%#=cl_image_tag @activity.photo.key%>

  <div class='info-text mx-4'>
    <% if @activity.photo.attached? %>
      <%= cl_image_tag @activity.photo.key,crop: :fill %>
    <% end %>
    <div class="mr-2 ml-2 mt-2">
      <h1><strong><%= @activity.name %></strong></h1>
      <p><%= @activity.description %></p>
      <div class="icons text-left ml-3 my-2">
      <p><strong>📍</strong> <%= @activity.location%></p>
      <h3><strong>⏰</strong> <%= @activity.duration%>min</h3>
      <h3><strong>🏷</strong> <%= @activity.price %>€</h3>
      </div>
    </div>


  <% if @kids.count == 0 %>
  <p class="mx-3">to book an activity, you need to <%= link_to "add a kid", new_kid_path(), class: "" %></p>
  <% else %>
    <div class="dropdown">
      <button class="btn btn-book-show dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        choose a kid to book
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% @kids.each do |kid| %>
        <%= link_to kid.first_name, book_slot_path(activity_id: @activity.id, kid_id: kid.id), class: "dropdown-item" %>
        <% end %>
      </div>
    </div>
  <% end %>


  </div>






  </div>

  <div class="text-center">
    <% if current_user == @activity.user %>
      <div class='btn btn-destroy sm-4'><%= link_to "delete activity", activity_path(@activity), method: :delete, data: {confirm: "Are you sure?"}  %></div>
    <% end %>
    </div>
