
<div class='show-container'>
    <%#=cl_image_tag @activity.photo.key%>

  <div class='info-text mx-4'>

    <h1><strong><%= @activity.name %></strong></h1>
    <p><strong>Description: </strong><%= @activity.description %></p>
    <p><strong>Location: </strong><%= @activity.location %></p>
    <p><strong>Price: </strong><%= @activity.price %>€</p>
    <p><strong>Availability: </strong><%= @activity.availability %></p>
    <% if @kids == "nil" %>
    <div>To book an activity, you need to add a kid profile first</div>
    <% else %>

    <div class="dropdown">
  <button class="btn btn-book dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    choose a kid to book
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <% @kids.each do |kid| %>
  <%= link_to kid.first_name, choose_kid_path(activity_id: @activity.id, kid_id: kid.id), class: "dropdown-item" %>
  <% end %>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
    <% end %>
    <div> <%= link_to "back to all activities ", activities_path, class: 'btn-show' %>
    </div>

    <% if current_user == @activity.user %>
      <div class='btn btn-edit mr-sm-4'><%= link_to 'Edit', edit_activity_path(@activity) %></div>
      <div class='btn btn-destroy mr-sm-4'><%= link_to "Delete activity", activity_path(@activity), method: :delete, data: {confirm: "Are you sure?"}  %></div>
    <% end %>
  </div>
</div>
