<div class="container" >
  <%= link_to root_path, class: "link_to" do %>
    <div class="arrow">
      <%= image_tag "backarrow.png" %>
    </div>
  <% end %>
</div>

<div class="homepage-container">

  <div class='header'>
    <h1 class=""></h1>
  </div>

  <% @activities.each do |activity| %>
    <%= link_to activity_path(activity), class: "d-block" do %>
      <div class="card-index-activity">
        <% if activity.photo.attached? %>
          <%= cl_image_tag activity.photo.key,crop: :fill %>
        <% end %>
        <h2><%= activity.name %></strong></h2>
        <div class="description-card-activity">
          <h6> <%= activity.description.first(100)%>...</h6>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
